<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Assign Chest Number')"></head>
<body class="bg-dark text-light">
<div th:replace="fragments/header :: header"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-lg-2 p-0">
            <div th:replace="fragments/sidebar :: sidebar('assignChest')"></div>
        </div>
        <div class="col-md-9 col-lg-10 p-4">
            <h3 class="mb-0 fw-bold">Assign Chest Number</h3>
            <p class="text-secondary mb-0 small">This page is under construction.</p>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
